// Colors
$red: #FC4349;
$grey: #D7DADB;
$light-blue: #6DBCDB;
$rose: #B76E79;
$white: #FFF;
$black: #000;
$grey700: #4a5568;

// Fonts
$small: 16px;
$medium: 20px;
$big: 36px;

// Padding
$large-padding: 10px 15px;
$big-padding: 20px 30px;

// Margin
$default-margin-top: 30px;
$big-margin-top: 90px;

// Border
$border-radius: 4px;